<header>
  <% if (user) { %>
  <p>Hello <%= user.name %> !</p>
  <% } else {%>
  <p>non-connecté</p>
  <% } %>
  <nav>
    <a href="/">Home</a>
    <a href="/authentication/dashboard">Dashboard</a>

    <% if (user) { %>
    <a href="/logout">Log-Out</a>
    <% } else { %>
    <a href="/authentication/sign-in">Sign-In</a>
    <% } %>
  </nav>
</header>
