<header>
  <% if (currentUser) { %>
  <p>Hello <%= currentUser.name %> !</p>
  <% } else {%>
  <p>non-connecté</p>
  <% } %>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>

    <% if (currentUser) { %>
    <a href="/logout">Log-Out</a>
    <% } else { %>
    <a href="/sign-in">Sign-In</a>
    <% } %>
  </nav>
</header>
