<main>
  <h1>This is the Sign-In Page</h1>
  <form action="/authentication/sign-in" method="POST">
    <% if (error) { %>
    <p><%= error %></p>
    <% } %>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Nom d'utilisateur..."
      required
    />

    <input
      type="password"
      id="password"
      name="password"
      placeholder="Mot de passe..."
      required
    />

    <button type="submit">Se connecter</button>
  </form>
  <a href="/authentication/sign-up">create account</a>
</main>
